@model IEnumerable<Product>

<div>
    <h1> <a class="btn btn-success"> Create</a> </h1>
    @if (TempData["OK"] != null )
    {
        <div class="alert alert-primary" role="alert">
            ไม่พบข้อมูล
        </div>
    }
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(Model => Model.Id)</th>
                <th scope="col">@Html.DisplayNameFor(Model => Model.Name)</th>
                <th scope="col">@Html.DisplayNameFor(Model => Model.Price)</th>
                <th scope="col">@Html.DisplayNameFor(Model => Model.Amount)</th>
                <th scope="col"> Action</th>



            </tr>
        </thead>
        <tbody>

            @foreach (var p in Model)
            {
                <tr>
                    <th scope="row">@p.Id</th>
                    <td>@p.Name</td>
                    <td>@p.Price</td>
                    <td>@p.Amount</td>
                    <td>
                        <a class="btn btn-outline-danger" onclick="return confirm(''HTMLAreaElement you sure )" asp-action="Edit" asp-route-Id="@p.Id">Edit</a>

                        <a class="btn btn-outline-danger" onclick="return confirm(''HTMLAreaElement you sure )" asp-action="Delete" asp-route-Id="@p.Id">Del</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>