@model IEnumerable<Student>
@{
    ViewData["Title"] = "Index";
}
@if (Model.Count()>0)
{
    <h1 class="text-center"> หน้าแรก  </h1>
    <hr />

    <table class="table">
        <thead>
        <th>รหัสนักเรียน</th>
        <th>ชื่อนักเรียน</th>
        <th>ชื่คะแนนสอบ</th>
        <th>แก้ไข</th>
        <th>ลบ</th>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Score</td>
                    <td><a class="btn btn-dark" asp-controller="Product" asp-action="Edits" asp-route-id="@item.Id">แก้ไข</a></td>
                    <td><a class="btn btn-dark" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('คุณต้องการลบ @item.Id หรือไม่ ')">ลบ</a></td>

                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="alert alert-secondary">
        ไม่มีข้อมูลในระบบ
    </div>
}
